.searchBar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: blue;
  border-bottom: 1px 2px 2px 3px grey;
}

.form {
  display: flex;
  padding: 15px;
  gap: 20px;
}

.button {
  border-radius: 6px;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background-color: lightgreen;
  }

  &:focus {
    background-color: lightgreen;
  }
}

.input {
  border-radius: 6px;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
  font-style: 20px;
  cursor: pointer;
}